body {
    
}
table.mytable {
   filter:alpha(Opacity=100);
   -moz-opacity:1;
   opacity: 1;
}
    table.mytable td {
        /*border-width: 1px;*/
        padding: 2px;
        /*border-style: solid;
        border-color: #666666;*/
        /*text-align: right;*/
    }
    table.mytable td span {
        display:block;
        text-align:right;
        /*float:right;*/
        color:green;
        font-size:12px;
        font-weight:bold;
        width:65px;
        height:15px;
        /*position: relative*/
    }

