<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="ConnNXJC" connectionString="Data Source=QH-20140814XCYI;Initial Catalog=NXJC;Integrated Security=True"/>-->
    <add name="ConnNXJC" connectionString="Data Source=QH-20140814XCYI;Initial Catalog=NXJC;Integrated Security=True"/>

    <add name="zc_nxjc_qtx_efc" connectionString="Data Source=QH-20140814XCYI;Initial Catalog=Db_02_01;Integrated Security=True"/>

    <add name="zc_nxjc_qtx_efc_cementmill01" connectionString="Data Source=QH-20140814XCYI;Initial Catalog=Db_02_01_Cement01;Integrated Security=True"/>
    <add name="zc_nxjc_qtx_efc_cementmill02" connectionString="Data Source=QH-20140814XCYI;Initial Catalog=Db_02_01_Cement01;Integrated Security=True"/>
    <add name="zc_nxjc_qtx_efc_cementmill03" connectionString="Data Source=QH-20140814XCYI;Initial Catalog=Db_02_01_Cement01;Integrated Security=True"/>
    <add name="zc_nxjc_qtx_tys_cementmill04" connectionString="Data Source=QH-20140814XCYI;Initial Catalog=Db_02_01_Cement01;Integrated Security=True"/>
    <add name="zc_nxjc_qtx_tys_cementmill05" connectionString="Data Source=QH-20140814XCYI;Initial Catalog=Db_02_01_Cement01;Integrated Security=True"/>

    <add name="zc_nxjc_qtx_efc_clinker02" connectionString="Data Source=QH-20140814XCYI;Initial Catalog=Db_02_01_Clinker02;Integrated Security=True"/>
    <add name="zc_nxjc_qtx_efc_clinker03" connectionString="Data Source=QH-20140814XCYI;Initial Catalog=Db_02_01_Clinker03;Integrated Security=True"/>
    <add name="zc_nxjc_qtx_tys_clinker04" connectionString="Data Source=QH-20140814XCYI;Initial Catalog=Db_02_01_Clinker03;Integrated Security=True"/>
    <add name="zc_nxjc_qtx_tys_clinker05" connectionString="Data Source=QH-20140814XCYI;Initial Catalog=Db_02_01_Clinker03;Integrated Security=True"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
